<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Here..!</h4>
<!--                  <p class="card-description">-->
<!--                    Basic form layout-->
<!--                  </p>-->
                  <form class="forms-sample" method="post" action="{% url 'update_category' catid=cat.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputUsername1">Category Name</label>
                      <input type="text" class="form-control" value="{{cat.C_name}}" name="name" id="exampleInputUsername1" placeholder="Category Name">
                    </div><div class="form-group">
                      <label for="exampleInputUsername1">Description</label>
                      <textarea cols="30" rows="5" placeholder="Description" name="descrip" class="form-control">{{cat.Descptn}}</textarea>
                    </div>
                      <div class="form-group">
                          <label>Upload Category Image</label>
                          <img src="{{cat.C_image.url}}" width="100px" height="100px">
                          <input type="file" name="image" class="form-control">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
<script>
    swal('{{i}}', '', 'warning')
</script>
{% elif i.tags == 'error' %}
<script>
    swal('{{i}}', '', 'error')
</script>
{% elif i.tags == 'info' %}
<script>
    swal('{{i}}', '', 'info')
</script>
{% else %}
<script>
    swal('{{i}}', '', 'success')
</script>
{% endif %}
{% endfor %}
{% endif %}
</body>
</html>
{% endblock %}