<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Products Here..!</h4>
<!--                  <p class="card-description">-->
<!--                    Basic form layout-->
<!--                  </p>-->
                  <form class="forms-sample" method="post" action="{% url 'update_product' proid=pro.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                      <label for="exampleSelectGender">Select Category</label>
                        <select class="form-control" id="exampleSelectGender" name="category">
                          <option>{{pro.Category}}</option>
                          <option>select</option>
                            {% for i in cat %}
                          <option>{{i.C_name}}</option>
                            {% endfor %}
                        </select>
                      </div>
                    <div class="form-group">
                      <label for="exampleInputUsername1">Product Name</label>
                      <input type="text" class="form-control" value="{{pro.P_name}}" name="pname" id="exampleInputUsername1" placeholder="Product Name">
                    </div>
                      <div class="form-group">
                      <label for="exampleInputUsername1">Price</label>
                      <input type="text" class="form-control" value="{{pro.Price}}" name="price"  placeholder="Price">
                    </div>

                      <div class="form-group">
                      <label for="exampleInputUsername1">Description</label>
                      <textarea cols="30" rows="5" placeholder="Description" name="descrip" class="form-control">{{pro.Description}}</textarea>
                    </div>
                      <div class="form-group">
                          <label>Upload Product Image</label>
                          <img src="{{pro.P_image.url}}">
                          <input type="file" name="image" class="form-control">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Edit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
</body>
</html>
{% endblock %}