{% extends 'index.html' %}
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add New Products Here..!</h4>
      <form class="forms-sample" method="post" action="{% url 'save_product' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleSelectGender">Select Category</label>
            <select class="form-control" id="exampleSelectGender" name="category">
              <option>select</option>
                {% for i in cat %}
              <option>{{i.C_name}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">Product Name</label>
            <input type="text" class="form-control" name="pname" id="exampleInputUsername1" placeholder="Product Name">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">Price</label>
            <input type="text" class="form-control" name="price"  placeholder="Price">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">Description</label>
            <textarea cols="30" rows="5" placeholder="Description" name="descrip" class="form-control"></textarea>
          </div>
          <div class="form-group">
              <label>Upload Product Image</label>
              <input type="file" name="image" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}